extends ../layout.pug

block content
    h1 Staffs
    form(method="get", action='/staff')
        input(name="q")
        button(type="submit") Search
    table(border)
        tr
            th Name
            th Salary
            th Phone
            th Email
            th(colspan=2) Action
        each staff in staffs
            tr
                td= staff.name
                td= staff.salary
                td= staff.phone
                td= staff.email
                td: a(href="http://localhost:8080/staff/delete/" + staff._id) Delete
                td: a(href="http://localhost:8080/staff/edit/" + staff._id) Edit
    a(href="http://localhost:8080/staff/insert") Adicionar novo registro