extends ../layout.pug

block content
    .jumbotron.text-center
        h1 Staffs
    form.form-inline(method="get", action='/staff')
        input.form-control(name="q")
        button.btn.btn-primary(type="submit") Search
    if staffs.length != 0
        table.table.table-striped.table-bordered(border)
            tr
                th(scope="col") Name
                th(scope="col") Salary
                th(scope="col") Phone
                th(scope="col") Email
                th(scope="col", colspan=2) Action
            each staff in staffs
                tr
                    td= staff.name
                    td= staff.salary
                    td= staff.phone
                    td= staff.email
                    td: a(href="http://localhost:8080/staff/delete/" + staff.id) Delete
                    td: a(href="http://localhost:8080/staff/edit/" + staff.id) Edit
    a(href="http://localhost:8080/staff/insert") Adicionar novo registro