doctype html
html
    head
        meta(charset="UTF-8")
        title= title
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        block stylesheets
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        block scripts
    body
        .container
            nav.navbar.navbar-expand.bg-primary.navbar-light
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href="/") Home
                    li.nav-item.active
                        a.nav-link(href="/staff") Staffs
            block content
            block foot